@model IEnumerable<CMED_DataAcessLayer.Models.Prescription>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-primary">All Prescription List</h2>
<div class="text-end">
     <a  asp-controller ="Prescription" asp-action="AddPrescription" class="btn btn-primary">
           <i class="bi bi-plus-lg"></i> &nbsp Create New Prescription
       </a>
</div>

<table style="width:100%" class="table table-boredered table-striped">
    <thead>
        <tr>
            <th>
               Date
            </th>
            <th>
              Name
            </th>
            <th>
               Age
            </th>
            <th>
                Gender
            </th>
            <th>
                  Diagnosis
            </th>
             <th>
                  Medicine
            </th>
            <th>
                  NextDateTime
            </th>
            <th>
                Action
            </th>
          
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Prescription_Date
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Age
            </td>
            <td>
               @item.Gender

            </td>
            <td>
               @item.Diagnosis

            </td>
             <td>
               @item.Medicine

            </td>
            <td>
                 @item.NextVisitDate
            </td>
             <td>
                 <div class="rounded-pill btn-group" >
                        <a asp-controller="Prescription" asp-action="UpdatePrescription" asp-route-id="@item.Prescription_Id" class="btn alert-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="Prescription" asp-action="DeletePrescription" asp-route-id="@item.Prescription_Id" class="btn alert-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                 </div>
            

            </td>
        </tr>

    }

</table>