@model CMED_WEB.Models.Root
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @foreach(var item in Model.interactionTypeGroup)
    {
          @item.sourceName
          @item.sourceDisclaimer
          @item.interactionType[0].comment
          @item.interactionType[1].minConceptItem.name
          @item.interactionType[1].minConceptItem.rxcui
          @item.interactionType[1].minConceptItem.tty
          @item.interactionType[1].interactionPair[0].severity
          @item.interactionType[1].interactionPair[0].description
          @item.interactionType[1].interactionPair[0].interactionConcept[0].minConceptItem.name
          @item.interactionType[1].interactionPair[0].interactionConcept[0].minConceptItem.rxcui
          @item.interactionType[1].interactionPair[0].interactionConcept[0].minConceptItem.tty
          @item.interactionType[1].interactionPair[0].interactionConcept[1].sourceConceptItem.id
          @item.interactionType[1].interactionPair[0].interactionConcept[1].sourceConceptItem.name
          @item.interactionType[1].interactionPair[0].interactionConcept[1].sourceConceptItem.url
       
         

    }
  
    
</head>
<body>
</body>
</html>
